.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.vsix
*.DS_Store
._*
logs
*.log
npm-debug.log*
/node_modules/
.npm
.node_repl_history
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/temp/
undefinedreferences